@import "../mixins";

#home {
  --border-radius: 32px;
  // SECTION HERO
  .schero {
    background-color: var(--bg-primary-color);
    color: var(--white-color);
    height: 102vh;
    max-height: calc(1024px + 32px);
    .schero-wrapper {
      display: flex;
      justify-content: space-between;
      gap: var(--gutter);
      flex-direction: column;
      height: 100%;
      width: 100%;
      padding-bottom: 16px;
      position: relative;
    }
    // TOP
    &__top {
      display: grid;
      grid-template-columns: repeat(18, 1fr);
      gap: var(--gutter);
      &-title {
        grid-column: span 6;
        font-size: var(--fs-title);
        font-family: var(--ff-bold);
        text-transform: uppercase;
        z-index: 1;
      }
      &-desc {
        grid-column-start: -1;
        grid-column-end: -8;
        padding-top: 40px;
        position: relative;
        z-index: 1;
        .text {
          @include line-clamp(4);
        }
      }
    }
    // PROFILE
    &__profile {
      height: 100%;
      width: 100%;
      position: absolute;
      bottom: 0;
      right: 0;
      z-index: 0;
      display: grid;
      grid-template-columns: repeat(18, 1fr);
      grid-template-rows: repeat(18, 1fr);
      gap: var(--gutter);
      img {
        grid-column: 7 / 16;
        grid-row-start: 2;
        aspect-ratio: 637 / 679;
        width: 100%;
        height: 100%;
        max-height: 679px;
      }
    }
    // BOTTOM
    &__bottom {
      z-index: 1;
      position: absolute;
      bottom: -26px;
      left: -30px;
      &-title {
        line-height: 1;
        font-size: var(--fs-emphasize);
        text-wrap: nowrap;
        white-space: nowrap;
        text-transform: uppercase;
        font-family: var(--ff-bold);
      }
    }
  }
  // SECTION WORKS
  .scwork {
    &.--pt {
      padding-top: 132px;
    }
    position: relative;
    top: calc(-0.5 * var(--border-radius));
    border-radius: var(--border-radius);
    background-color: var(--bg-secondary-color);
    box-shadow: 1px -29px 31px 0px rgba(0, 0, 0, 0.09);
    -webkit-box-shadow: 1px -29px 31px 0px rgba(0, 0, 0, 0.09);
    -moz-box-shadow: 1px -29px 31px 0px rgba(0, 0, 0, 0.09);
    z-index: 2;
    overflow: hidden;
    .scwork-wrapper {
      z-index: 2;
      position: relative;
    }
    &__title {
      font-size: var(--fs-title-xl);
      font-family: var(--ff-bold);
      text-transform: uppercase;
      margin-bottom: 16px;
      color: var(--secondary-text-color);
    }
    &__list {
      margin-top: 132px;
    }
  }
  // SECTION ABOUT
  .scabout {
    &.--pt {
      padding-top: 132px;
    }
    &.--pb {
      padding-bottom: 32px;
    }
    position: relative;
    top: calc(-0.5 * var(--border-radius));
    border-radius: var(--border-radius);
    background-color: var(--bg-secondary-color);
    box-shadow: 1px -29px 31px 0px rgba(0, 0, 0, 0.09);
    -webkit-box-shadow: 1px -29px 31px 0px rgba(0, 0, 0, 0.09);
    -moz-box-shadow: 1px -29px 31px 0px rgba(0, 0, 0, 0.09);
    z-index: 2;
    overflow: hidden;
    .scabout-wrapper {
      height: 100%;
      width: 100%;
      margin: auto;
      z-index: 2;
      position: relative;
    }
    &__title {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      gap: var(--gutter);
      &-focus {
        position: relative;
        top: 20px;
      }
      &-content {
        position: relative;
        text-wrap: nowrap;
        .text {
          font-size: var(--fs-title-xl);
          color: var(--secondary-text-color);
          &__small {
            font-size: var(--fs-sub-title);
          }
        }
        .caption {
          position: absolute;
          bottom: 0;
          left: 328px;
          font-size: var(--fs-caption);
        }
      }
    }
    &__content {
      margin-top: 250px;
      &-title {
        .text {
          font-size: var(--fs-title);
          text-transform: capitalize;
        }
        .caption {
          position: relative;
          font-size: var(--fs-caption);
          top: -40px;
          left: 5px;
        }
      }
      &-list {
        margin-top: calc(var(--gutter) * 15);
      }
    }
  }
  // SECTION MOTTO
  .scmotto {
    &.--pt {
      padding-top: 132px;
    }
    position: relative;
    top: 0;
    border-radius: var(--border-radius);
    background-color: var(--bg-secondary-color);
    box-shadow: 1px -29px 31px 0px rgba(0, 0, 0, 0.09);
    -webkit-box-shadow: 1px -29px 31px 0px rgba(0, 0, 0, 0.09);
    -moz-box-shadow: 1px -29px 31px 0px rgba(0, 0, 0, 0.09);
    z-index: 2;
    overflow: hidden;
    .scmotto-wrapper {
      height: 100%;
      width: 100%;
      margin: auto;
      position: relative;
      z-index: 2;
    }
    &__title {
      font-size: var(--fs-title-xl);
      color: var(--secondary-text-color);
      font-family: var(--ff-bold);
      text-transform: uppercase;
      text-align: center;
    }
    &__images {
      margin-top: 200px;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      gap: calc(var(--gutter) * 0.5);
      &-item {
        position: relative;
        height: 100%;
        width: 100%;
        max-width: 400px;
        .img {
          img {
            object-fit: cover;
          }
        }
        .quote {
          &__text {
            font-size: var(--fs-caption-xl);
            text-transform: capitalize;
            @include line-clamp(2);
          }
          &__author {
            position: relative;
            top: -16px;
            font-size: var(--fs-caption);
            text-transform: capitalize;
            font-style: italic;
          }
        }
      }
    }
  }
  // SECTION CONTACT
  .sccontact {
    background-color: var(--bg-primary-color);
    color: var(--white-color);
    width: 100%;
    height: 100%;
    position: relative;
    top: 0;
    border-radius: var(--border-radius);
    box-shadow: 1px -29px 31px 0px rgba(0, 0, 0, 0.09);
    -webkit-box-shadow: 1px -29px 31px 0px rgba(0, 0, 0, 0.09);
    -moz-box-shadow: 1px -29px 31px 0px rgba(0, 0, 0, 0.09);
    z-index: 2;
    overflow: hidden;
    .sccontact-wrapper {
      height: 100%;
      width: 100%;
    }
    &__title {
      text-align: center;
      margin: auto;
      &-caption {
        font-size: var(--fs-caption-xl);
      }
      &-text {
        font-size: var(--fs-title-xl);
        text-transform: capitalize;
        font-family: var(--ff-bold);
        text-wrap: nowrap;
      }
    }
  }
}
