@import "./mixins";
.project {
  display: grid;
  grid-template-columns: repeat(18, 1fr);
  gap: var(--gutter);
  height: 100%;
  width: 100%;
  position: relative;
  &:not(:last-of-type) {
    margin-bottom: 335px;
  }
  &__titlegroup {
    grid-column: 5 / -3;
    display: block;
    height: 100%;
    width: 100%;
    aspect-ratio: 856 / 535;
    position: relative;
    overflow: hidden;
    &-image {
      height: 100%;
      width: 100%;
      img {
        object-fit: cover;
      }
    }
    &-title {
      position: absolute;
      bottom: 16px;
      left: 53px;
      color: var(--teritary-text-color);
      font-size: var(--fs-title);
      font-family: var(--ff-bold);
      text-transform: capitalize;
      @include line-clamp(2);
    }
  }
  &__content {
    grid-column: 5 / -3;
    margin-top: 16px;
    &-desc {
      @include line-clamp(3);
    }
  }
  &__logos {
    grid-column: 5 / -3;
    align-content: flex-start;
    margin-top: 16px;
    display: flex;
    align-items: center;
    gap: var(--gutter);
    flex-wrap: wrap;
    justify-content: flex-start;
    max-height: 220px;
    &-item {
      height: 100%;
      max-height: 100px;
      min-height: 100px;
      width: fit-content;
      height: 100%;
    }
  }
  &.--second {
    --titlegroup-margintop: 165px;
    .project__thumb {
      position: absolute;
      top: 0;
      left: 0;
      max-height: 552px;
      max-width: 345px;
      height: 100%;
      width: 100%;
      aspect-ratio: 345 / 552;
      img {
        object-fit: cover;
      }
    }
    .project__titlegroup {
      grid-column: 8 / 19;
      margin-top: var(--titlegroup-margintop);
    }
    .project__content {
      grid-column: 5 / 19;
      margin-top: calc(var(--titlegroup-margintop) + 16px);
    }
  }
  &.--third {
    grid-template-columns: 1.07fr 1fr;
    justify-content: space-between;
    .project__titlegroup {
      max-height: 835px;
      height: 100%;
      grid-column: 1 / 2;
      aspect-ratio: 626 / 835;
    }
    .project__content {
      grid-column: 2 / 3;
      padding-top: 134px;
      &-desc {
        @include line-clamp(6);
      }
    }
  }
  &.--fourth {
    .project__titlegroup {
      grid-column: 3 / 16;
    }
    .project__content {
      grid-column: 3 / 16;
    }
  }
  &.--fifth {
    .project__titlegroup {
      grid-column: -1 / -13;
    }
    .project__content {
      grid-column: -1 / -13;
    }
  }
}

.about-item {
  &:nth-of-type(3) {
    .titlelead {
      .dot {
        position: relative;
        left: 24px;
      }
    }
  }
  &:nth-of-type(4) {
    .titlelead {
      .dot {
        position: relative;
        left: 2px;
      }
    }
  }
  &:not(:last-of-type) {
    margin-bottom: calc(var(--gutter) * 20);
  }
  &__top {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    gap: var(--gutter);
    .titlegroup {
      &__title {
        font-family: var(--ff-medium);
      }
      &__desc {
        font-size: var(--fs-caption);
      }
    }
    .titlelead {
      display: flex;
      align-items: center;
      gap: var(--gutter);
      &__title {
        font-size: var(--fs-title);
        font-family: var(--ff-bold);
        text-transform: uppercase;
        line-height: 1;
      }
    }
  }
  &__middle {
    position: relative;
    max-height: 550px;
    width: 100%;
    aspect-ratio: 1294 / 710;
    overflow: hidden;
    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
      &:not(:first-of-type) {
        position: absolute;
        top: 0;
        left: 0;
      }
    }
  }
  &__bottom {
    position: relative;
    max-width: 67%;
    margin-top: 16px;
    overflow: hidden;
    .content {
      @include line-clamp(4);
      &:not(:first-of-type) {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }
  }
}

strong {
  font-family: var(--ff-bold);
}

.dot {
  display: block;
  flex-shrink: 0;
  height: 20px;
  width: 20px;
  aspect-ratio: 1 / 1;
  border-radius: 100%;
  overflow: hidden;
  position: relative;
  color: var(--primarytext-color);
  background-color: var(--primarytext-color);
  z-index: 1;
}

.btn {
  display: block;
  margin: auto;
  width: fit-content;
  align-content: center;
  margin-top: var(--gutter);
  padding-left: var(--btn-padding-horizontal);
  padding-right: var(--btn-padding-horizontal);
  height: var(--btn-height);
  font-size: var(--fs-caption-xl);
  border-radius: 999999px;
  background-color: var(--bg-primary-color);
  color: var(--white-color);
  position: relative;
  text-wrap: nowrap;
  overflow: hidden;
  border: 1px solid var(--white-color);
  &.--white {
    background-color: var(--white-color);
    color: var(--secondary-text-color);
  }
  .top {
    display: block;
    transition-duration: 0.3s;
  }
  .bottom {
    display: block;
    position: absolute;
    bottom: calc(-1 * var(--btn-height));
    color: var(--white-color);
    left: 50%;
    transform: translate(-50%, 0);
    transition-duration: 0.3s;
    z-index: 1;
  }
  .circle {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 200%;
    width: 200%;
    transform: translate(-50%, 200%);
    border-radius: 100%;
    background-color: var(--bg-primary-color);
    z-index: 0;
    transition-duration: 0.3s;
  }
  &:hover {
    .bottom {
      bottom: 50%;
      transform: translate(-50%, 50%);
    }
    .circle {
      transform: translate(-50%, -50%);
    }
    .top {
      transform: translateY(calc(-1 * var(--btn-height)));
    }
  }
}

.--fade-in {
  @include fade-up-text;
}

.--no-scroll {
  overflow: hidden;
  pointer-events: none;
}

.--with-border-radius {
  border-radius: var(--border-radius);
  overflow: hidden;
}

.scabout__content-svg {
  position: absolute;
  top: 49%;
  left: 10px;
}

.about-connect {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  &__line {
    width: 100%;
  }
}

.running {
  position: absolute;
  display: block;
  opacity: 0;
  width: 52px;
  fill: var(--primarytext-color);
  color: var(--primarytext-color);
}
