html {
  font-size: 62.5%;
  height: 100%;
  width: 100%;
}

body {
  font-family: var(--ff-regular);
  font-size: var(--fs-text);
  color: var(--primarytext-color);
  line-height: normal;
  background-color: var(--white-color);
  margin: 0 auto;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

.container {
  max-width: var(--container-max-width);
  padding-left: var(--pd-container);
  padding-right: var(--pd-container);
  margin: 0 auto;
  height: 100%;
  width: 100%;
}

section {
  &.--pt {
    padding-top: var(--pd-container);
  }
  &.--pb {
    padding-bottom: var(--pd-container);
  }
  &.--ptb {
    padding-top: var(--pd-container);
    padding-bottom: var(--pd-container);
  }
}
